<div class="jumbotron">
  <h1 class="display-4 text-center"> Customers</h1>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h4 class="text-center">
        Add customer
      </h4>
      <app-customer-registration></app-customer-registration>
    </div>
      <div class="col-md-6">
        <h4 class="text-center">
          Customers
        </h4>
        <app-list-customer></app-list-customer>
      </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4 class="text-center">
        Add Loan
      </h4>
      <app-customer-administration></app-customer-administration>
    </div>
      <div class="col-md-6">
        <h4 class="text-center">
          Loans
        </h4>
        <app-list-loans></app-list-loans>
      </div>
  </div>
</div>
